// Genel
$beyaz: #ffffff !default;
$siyah: #000000 !default;
$kirmizi: red !default;
$mor: #5900ff !default;

// Proje
$ap: #060719;
$mor: #8A39A7;
$pembe: #E28FF3;
$seffaf-pembe: rgba(227, 144, 243, 0.23);