/* Nav SON */
.nav {
	@include padding-top(1.5rem);
	@include padding-bottom(1.5rem);
	@include font-size(1rem);
	@include flex-row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background: linear-gradient(
		180deg,
		rgba(226, 143, 243, 0.2) 0%,
		rgba(0, 0, 0, 0) 70%,
		rgba(0, 0, 0, 0) 100%
	);

	&--2 {
		position: absolute;
	}

	@include min-medya(laptop) {
		position: absolute;
	}

	.buton {
		margin: 0;
	}

	&__linkler {
		white-space: nowrap;

		/* İnline-block element space bug fix */
		font-size: 0;
		@include medya(laptop) {
			display: none;
		}
	}

	&__popup-tus {
		@include flex-center-row;
		gap: 1rem;

		@include medya(laptop, min) {
			display: none;
		}

		&.--aktif {
			.popup-tus__ikonlar {
				.ikonlar__ikon {
					&:nth-child(1) {
						transform: translateX(-120%);
					}

					&:nth-child(2) {
						transform: translateX(-120%);
						color: black;
					}
				}
			}
		}

		.popup-tus__ikonlar {
			@include flex-center-row;
			width: fit-content;
			z-index: 4;

			ion-icon.ikonlar__ikon {
				@include font-size(5rem);
			}
		}
	}
}
/* Nav */
